@import 'tailwindcss';
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-soft: 0px 2px 4px 0px rgb(0 0 0 / 0.14);
  --background-fade-cream: linear-gradient(
    180deg,
    #f0f0eb 0%,
    rgba(240, 240, 235, 0) 100%
  );
  --color-wine-700: #792c41;
  --color-grey3: #707070;
}

@utility shadow-soft {
  box-shadow: var(--shadow-soft);
}

@utility bg-fade-cream {
  background: var(--background-fade-cream);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

* {
  font-family: system-ui, sans-serif;
}
